@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&family=Quicksand:wght@500&family=Roboto:wght@500&display=swap');

* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
a {
	text-decoration: none;
}
.container {
	height: 100%;
	width: 100%;
	padding: 0 127px 0 158px;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
}

.nav, .banner, .services{
	box-sizing: border-box;
	width: 100%;
	justify-content: space-around;
}

.nav {
	display: flex;
	padding-top: 32px;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	margin-top: 6px;
	display: flex;
	flex-direction: row;
}

.logo img {
	height: 26px;
	width: 26px;
	margin: 4px 14px 5px 1px;
}

.logo p{
	font-family: Quicksand;
	font-style: normal;
	font-weight: 500;
	font-size: 35px;
	line-height: 35px;

	color: #16133D;
}

.nav-link-group{
	margin-top: 10px;
}

.nav-link-group a {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 16px;
	

	color: #16133D;
}

.nav-link + .nav-link{
	margin-left: 61px;
}

.nav-button {
	width: 120px;
	height: 50px;
}

.nav-button + .nav-button{
	margin-left: 18px;
}

.nav-button.sign-in {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	text-align: center;

	color: #16133D;
	border: 2px solid #16133D;
	box-sizing: border-box;
	border-radius: 8px;
}

.nav-button.login{
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;

	text-align: center;

	color: #FFFFFF;
	background: #16133D;
	border-radius: 8px;
}


.nav-hr hr{
	display: flex;
	margin-top: 38px;
	border: 1px solid #EFEEF3;
}


.banner {
	display: flex;
	flex-direction: row;	
	margin-top: 54px;
	width: 100%;
}

.banner-about{
	margin-right: 100px;
}

.banner-about h2{
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 56px;
	line-height: 68px;
	/* or 121% */
	
	letter-spacing: 0.2px;
	
	/* 6 */
	
	color: #16133D;
	margin-bottom: 20px;
}

.banner-about p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 19px;
	line-height: 36px;
	/* or 189% */

	color: #183B56;
	margin-bottom: 30px;
}

.banner-about-btn{
	width: 180px;
	height: 50px;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */

	text-align: center;
	border-radius: 8px;
}

.banner-about-btn.btn-left{
	background: #007FFC;
	color: #FFFFFF;
}

.banner-about-btn.btn-right{
	border: 2px solid #007FFC;
	box-sizing: border-box;
	color: #007FFC;
}

.banner-img{
	position: relative;
	border-radius: 8px;
	display: flex;
	flex-direction: row;
	margin: 0 30px 0 100px;
}

.banner-about-btn + .banner-about-btn{
	margin-left: 20px;
}

.banner-img-btn {
	width: 60px;
	height: 60px;
	background: #16133D;
	border-radius: 5px;
}

.banner-img-btn.btn-left {

	position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner-img-btn.btn-right {
	position: absolute;
	top: 50%;
	left: 100%;
    transform: translate(-50%, -50%);
}

.services{
	margin-top: 120px;
	display: flex;
	flex-direction: column;
}

.services-desc p span{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	/* identical to box height, or 131% */


	/* 7 */

	color: #7690A8;
}

.services-desc h2{
	margin: 20px 0 6px 0;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	line-height: 52px;
	/* identical to box height, or 130% */

	letter-spacing: 0.2px;

	/* 6 */

	color: #16133D;
}

.services-desc p{
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	/* identical to box height, or 156% */


	/* 6 */

	color: #16133D;
}

.services-card-group {
	margin-top: 60px;
	display: flex;
	flex-direction: row;
}

.services-card{
	background: #FFFFFF;
border: 1px solid #E5EAF4;
box-sizing: border-box;
border-radius: 8px;
	padding: 41px 41px 46px 41px;
}

.services-card + .services-card {
	margin-left: 40px;
}

.services-card h2{
	margin-top: 28px;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 21px;
	/* identical to box height, or 89% */

	letter-spacing: 0.2px;

	/* 6 */

	color: #16133D;
}

.services-card p{
	margin: 14px 0 29px 0;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	/* or 175% */


	/* 6 */

	color: #16133D;
}

.services-card a{
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	/* identical to box height */


	/* 6 */

	color: #16133D;
}

.services-card-img{
	position: relative;
	width: 64px;
	height: 64px;
	border: 1px solid rgba(21, 101, 216, 0.1);
	box-sizing: border-box;
	border-radius: 16px;
	justify-content: center;
}

.services-card-img img{
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%);
}